@model App.Domain.Core.Entities.Services.Service

@{
	Layout = "_Layout";
    ViewData["Title"] = "Service Details";
}


<section class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="bg-white rounded shadow-sm p-4">
                    <h4 class="text-primary fw-bold mb-3">جزییات خدمات</h4>
                    <div class="text-center mb-4">
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <img src="@Model.Image" class="img-fluid rounded" alt="@Model.Title" />
                        }
                        else
                        {
                            <p class="text-muted">بدون عکس</p>
                        }
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>عنوان:</strong> @Model.Title</li>
                        <li class="list-group-item"><strong>دسته بندی:</strong> @Model.Subcategory.Title</li>
                        <li class="list-group-item"><strong>توضیحات:</strong> @Model.Description</li>
                        <li class="list-group-item"><strong>قیمت:</strong> <span class="text-success">@Model.Price.ToString("N0") تومان</span></li>
                    </ul>
                    @if (User.IsInRole("Client"))
                    {
                        <a asp-area = "Client" asp-controller = "ServiceRequest" asp-action = "SubmitRequest" asp-route-id = "@Model.Id">ارسال درخواست</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>