@using App.Domain.Core.Entities.User;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model List<App.Domain.Core.Entities.Services.Service>;



@{
	ViewData["Title"] = "Services";
	Layout = "_Layout";
}

<section class="feature-cat-area pt-100" id="service">
	<div class="container">
		<div class="container mt-5">
			<div class="row">
				@foreach (var service in Model)
				{
					<div class="col-md-4 mb-4">
						<div class="card h-100">
							@if (!string.IsNullOrEmpty(service.Image))
							{
								<img src="@service.Image" class="card-img-top" alt="@service.Title" />
							}
							else
							{
								<img src="~/Uploads/484fbff1-9723-48c7-8936-d8c4361cdf68types-of-building-cooling-and-heating-systems.jpg" class="card-img-top" alt="" />
							}
							<div class="card-body">
								<h5 class="card-title">@service.Title</h5>
								<p class="card-text">@service.Description</p>
							</div>
							<div class="card-footer">
								<div class="d-flex justify-content-between align-items-center">
									<span class="text-muted">قیمت: @service.Price.ToString("C")</span>
									@if (!User.Identity.IsAuthenticated)
									{
										<a asp-controller = "Service" asp-action = "Details" asp-route-id = "@service.Id" class="btn btn-sm btn-primary">جزییات</a>
									}
									else
									{
										@if (User.IsInRole("Client"))
										{
											<a asp-controller="ServiceRequest" asp-action="SubmitRequest" asp-route-id="@service.Id" class="btn btn-sm btn-primary">درخواست</a>
										}
										else if (User.IsInRole("Expert"))
										{
											<a asp-controller="ExpertSkill" asp-action="AddToSkills" asp-route-id="@service.Id" class="btn btn-sm btn-primary">درخواست</a>
										}
									}
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</section>